@import "tailwindcss";

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Prevent ghosting during high-speed GPU transitions */
  backface-visibility: hidden;
}